* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost' !important;
}

.line {
    width: 55px;
    height: 3px;
    background-color: #F28123;
}

/* HEADER */
header{
    background-color: black;
}

header nav li:first-child a {
    color: #F28123;
}

/* carousel */
.carousel-item {
    background: url(../img/hero-bg.jpg) rgba(7, 33, 46, 0.4);
    height: 950px;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: overlay;
}

.carousel-item h5 {
    color: #F28123;
    letter-spacing: 4px;
}

.carousel-item h2+a {
    background-color: #F28123;
}

.carousel-item h2+a:hover {
    color: #F28123 !important;
    background-color: #051922;
    border: 2px solid #051922;
}

.carousel-item h2+a+a:hover {
    background-color: #F28123;
    border: 2px solid #F28123;
}

.carousel-item a {
    border: 2px solid #F28123;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px !important;
    height: 50px;
    top: initial!important;
    bottom: 50px!important;
}

.carousel-control-prev {
    left: 35%!important;
}

.carousel-control-next {
    right: 37%!important;
}

/* SUPPORT */
.support .support-items i {
    color: #F28123;
    width: 50px;
    height: 50px;
    border: 2px dotted #F28123;
}

/* PRODUCT */
.product h1>span {
    color: #F28123;
}

.product {
    margin: 80px 0;
}

.product-inner .product-contant1 h4+a {
    background-color: #F28123;
}

.product-inner .product-contant1:hover {
    box-shadow: none !important;
}

.product-inner .product-contant1 h4+a:hover {
    color: #F28123 !important;
    background-color: #051922;
}

/* DEAL */
.deal {
    background-color: #f5f5f5;
    padding: 100px 0;
}

.deal .deal-img .price-box {
    left: 15%;
    top: -30px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(242, 129, 35, 0.75);
}

.deal .deal-img .price-box .inner-price {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    margin-top: 7px;
    border-radius: 50%;
    background-color: #F28123;
}

.deal .inner-price {
    padding-top: 20px;
}

.deal-contant h2>span {
    color: #F28123;
}

.deal-contant .counter-column {
    margin: 0px 0px 5px;
    font-size: 13px;
    line-height: 1em;
    padding: 8px 20px 14px;
    border: 2px solid #F28123;
}

.deal-contant .counter-column .count {
    font-size: 30px;
    line-height: 40px;
    color: #F28123;
}

.deal-contant a {
    background-color: #F28123;
}

.deal-contant a:hover {
    color: #F28123;
    background-color: #051922;
}

/* TESTIMONIALS */
.testimonial {
    padding: 150px 0;
}

.testimonial .slider {
    max-width: 550px;
}

/* ABOUT */
.about {
    padding-bottom: 150px;
}

.about .video {
    background-color: #F28123;
    width: 90px;
    height: 90px;
    line-height: 92px;
    padding-left: 5px;
    text-align: center;
}

.about .about-content {
    padding: 50px;
}

.about .about-content h2>span {
    color: #F28123;
}

.about .about-content a {
    background-color: #F28123;
    border: 2px solid #F28123;
}

.about .about-content a:hover {
    color: #F28123 !important;
    background-color: #051922;
    border: 2px solid #051922;
}

/* OFFER */
.offer {
    background-image: url(../img/offer.jpg);
    background-size: cover;
    padding: 110px 0px 115px;
}

.offer-content {
    padding: 0 15px;
}

.offer-content h3>span {
    color: #F28123;
}

.offer-content li+li {
    color: #F28123;
}

.offer-content a {
    background-color: #F28123;
}

.offer-content a:hover {
    color: #F28123 !important;
    background-color: #051922;
}

/* NEWS */
.news {
    padding: 150px 0;
}

.news .news-title h1>span {
    color: #F28123;
}

.news-content:hover {
    box-shadow: none !important;
}

.more-news a{
    background-color: #F28123;
}
.more-news a:hover{
    color: #F28123 !important;
    background-color: #051922;
}

/* FOOTER */
footer{
    background-color: #051922;
}
.footer-inner{
    padding: 150px 0;
}
.footer-inner .col-3:nth-child(3) .footer-content ul li .bi-dash{
    color: #F28123;
}
footer .col-3:last-child .footer-content form input{
    border: none;
    background-color: #012738;
}
footer .col-3:last-child .footer-content form input::placeholder{
    color: gray;
}
footer .col-3:last-child .footer-content form button{
    border: none;
    background-color: #012738;
}
footer .col-3:last-child .footer-content form button > .bi-send-fill{
    color: #F28123;
}
footer .copyright .copyright-content ul:first-child li p > a{
    color: #F28123;
}
footer .copyright .copyright-content ul:last-child li a:hover{
    color: #F28123!important;
}